<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Event</title>
</head>
<body>
    <h1>Register for Event</h1>
    <form action="/registerUserForEvent" method="post">
        
      
        <div>
            <label for="firstName">First Name:/label>
            <input type="text" id="firstName" name="firstName" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="numtel">Phone Number:</label>
            <input type="text" id="numtel" name="numtel" required>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>
